.modal-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.modal {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--background);
    padding: 40px 20px 20px 20px;
    border-radius: 8px;
    z-index: 1001;

}

.modal form {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.modal label {

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.modal input {

    background-color: var(--secondary);
    border-radius: 10px;
    padding: 10px 20px;

}

.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;

}

.modal-header h6 {

    text-transform: uppercase;

}

.modal-header i {

    font-size: 40px;

}

#modal-close {

    cursor: pointer;

}

.modal button {

    margin-top: 10px;
    box-shadow: none;
    background-color: var(--secondary);
    cursor: default;

}

.modal button:hover {

    opacity: 1;

}

.modal button:enabled {

    background-color: var(--primary);
    cursor: pointer;

}

.modal button:enabled:hover {

    opacity: 0.8;

}