@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --background: oklch(21% 0.034 264.665);
    --foreground: white;
    --primary: oklch(50% 0.134 242.749);
    --secondary: oklch(27.9% 0.041 260.031);
    --red: oklch(63.7% 0.237 25.331);
    --green: oklch(52.7% 0.154 150.069);

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    height: 100%;
    background-color: var(--background);
    color: white;

}

p {

    font-size: 20px;

}

a {

    text-decoration: none;
    color: var(--foreground);

}

input {

    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
    font-size: 16px;

}

button {

    border: none;
    cursor: pointer;
    color: inherit;

}

#notification {

    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--red);
    padding: 10px 20px;
    border-radius: 10px;

}